.info{
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
}
h3{
    scrollbar-width:none;
    height: 100px;
}
h3:hover{
    scrollbar-width: initial;
    scrollbar-color: plum lavender ;
}